<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.systop.dao.DiscussMapper" >
    <select id="selectall" resultMap="discussResult">
		select * from discuss,user where user_id=discuss_user_id and discuss_status=1 ORDER BY Discuss_id desc
   </select>
    <resultMap type="Discuss" id="discussResult">
        <id property="discuss_id" column="discuss_id"/>
        <result property="discuss_content" column="discuss_content"/>
        <result property="discuss_date" column="discuss_date"/>
        <result property="discuss_music_id" column="discuss_music_id"/>
        <association property="user" javaType="User">
            <id property="user_id" column="user_id"/>
            <result property="user_name" column="user_name"/>
        </association>
    </resultMap>
    <update id="discuss_delete" parameterType="List">
        update discuss set discuss_status=0 where Discuss_id in
        <foreach collection="list" item="Discuss_id" index="index" separator="," open="(" close=")">
            #{Discuss_id}
        </foreach>
    </update>
    <update id="discuss_deletefyid" parameterType="Integer">
        update discuss set discuss_status=0 where discuss_id=#{discuss_id}
    </update>
    <update id="discussupdatesta" parameterType="discuss">
        update discuss
        <set>
            discuss_state=#{discuss_state}
        </set>
        where discuss_id=#{discuss_id}
    </update>

</mapper>